body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.titulo{
    text-align: center;
    }
    .body_inicio{
        background-color: #005883
    }
    
.menu{
        padding: 20pix;
        background-color: #F0B429;
        text-align: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        width: 100%;
        
    }

    .tabla_inicio{
        text-align: justify;
        width: 100%;
        margin: 30pix;
        padding: 50px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: seashell;
    }
    .tabla_conceptos{
        text-align: justify;
        width:50%;
        margin: 30pix;
        padding: 20px;
    }
    .tabla_conceptosII{
        text-align: justify;
        width:50%;
        margin: 50pix;
        padding: 40px;
        background-color: #005883
    }
    
    .titulos{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: justify;
        padding: 20px;
        color: #005883;
         }
    .titulos_conceptos{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: justify;
        padding: 20px;
        color: #333333;
    }
    .twit{
        text-align: right;
    }
    .recursos{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: justify;
        padding: 40px;
        margin: 60;
        color: #333333;
    }