.titulo{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.menu{
        padding: 20pix;
        background-color: #F0B429;
        text-align: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        width: 100%;
        
    }

    .tabla_inicio{
        width: 80%;
        margin: 20pix;
        padding: 50px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .tabla_conceptos{
        text-align: justify;
        width: 100%;
        margin: 20pix;
        padding: 50px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .titulos{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: justify;
        padding: 20px;
        color: #005883;
         }
    .titulos_conceptos{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: justify;
        padding: 20px;
        color: #333333;
    }
    .twit{
        text-align: right;
    }